body {
  background: transparent url("/static/img/tiny_grid.png") repeat top left;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  margin: 0;
}
input, button, textarea {
  box-sizing: border-box;
}
.nowrap { white-space: nowrap; }
#chart {
  width: 800px;
}
#bg {
  z-index: -1;
  position: absolute;
  text {
    font-size: 12px;
  }
}
#input {
  font: 20px 'Helvetica Neue', Helvetica, Arial;
  margin: 0 auto;
  padding: 5px 0;
  #left, #right, select {
    width: 240px;
  }
  #left { float: left; }
  #right { float: right; }
  input {
    font: inherit;
    text-align: center;
  }
  input.currency {
    width: 60px;
  }
  .units {
    width: 180px;
  }
  select {
    position: relative;
    top: -5px;
  }
  height: 40px;
}
#chart {
  margin: 30px auto;
}

.platform {
  border: 1px solid gray;
}
.track {
  stroke: #222;
  fill: white;
}